<div class="container">
  <div class="left">
    <img class="logo" src="/assets/images/logo.png" alt="Logo" />
    <a routerLink="/catalog" routerLinkActive="active">Catalog</a>
    <a routerLink="/search" routerLinkActive="active">Search</a>
    <div class="cart">
      <a routerLink="/cart" routerLinkActive="active">Cart</a>
    </div>
  </div>
  <div class="right">
    <a routerLink="/squad/bot-squad" routerLinkActive="active">Bot Squad</a>
    <a routerLink="/squad/squad-cart">Squad Roster</a>
  </div>
</div>